# Use for docker env variables that may or may not need to be set depending on env
# Takes precedent over all env files
# Do not use for DOJO_PATH and DATA_PATH

# Example (with value):
# INTERNET_FOR_ALL="no"

# Example (value from infra.env):
# ENVIRONMENT
