{% extends "admin/base.html" %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>Docker Management</h1>
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#panicModal">Docker Panic (Kill all workspace containers)</button>
  </div>
</div>
<div class="container">
  <form>
    <div class="form-group">
      <label for="default_timeout">Default Challenge Timeout</label>
      <input type="number" class="form-control" id="default_timeout" name="default_timeout" value="2" min="1" max="12">
    </div>
    <div class="form-group">
      <label for="min_timeout">Minimum Challenge Timeout</label>
      <input type="number" class="form-control" id="min_timeout" name="min_timeout" value="1">
    </div>
    <div class="form-group">
      <label for="max_timeout">Maximum Challenge Timeout</label>
      <input type="number" class="form-control" id="max_timeout" name="max_timeout" value="12">
    </div>
  </form>
</div>
<div id="panicModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="panicModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="panicModalTitle">Docker Panic</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>This will attempt to kill and remove all currently running workspace containers.</p>
        <p>Use this if the server becomes overloaded during an event.</p>
        <p>If this is unsuccessful, you can manually panic using the following command within the outer dojo container:</p>
        <pre>docker rm -f $(docker ps -aqf "name=user_*")</pre>
        <p>Are you sure you want to panic?</p>
      </div>
      <div class="modal-footer">
        <div id="panicResult" class="mr-auto">Ready to panic</div>
        <button id="panicConfirm" type="submit" class="btn btn-danger">Confirm Panic</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script defer src="{{ url_for('views.themes', path='js/dojo/dockerpanic.js') }}"></script>
{% endblock %}
