{% extends "admin/base.html" %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>All Dojos</h1>
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#panicModal">Docker Panic (Kill all workspace containers)</button>
  </div>
</div>
<div class="container">
    {% for dojo in dojos %}
    <h2><a href="{{ url_for('pwncollege_dojo.view_dojo', dojo=dojo.reference_id) }}">{{ dojo.name }}</a></h2>
    <b>Reference ID: </b><code>{{ dojo.reference_id }}</code>
    <br>
    <b>Dojo ID: </b><code>{{ dojo.hex_dojo_id }}</code>
    <br>
    <b>Git Hash: </b><code>{{ dojo.hash[:8] }}</code>
    <br>
    <b>Last Commit: </b><code>{{ dojo.last_commit_time }}</code>
    <br>
    <b>Admins</b>
    <ul>
        {% for admin in dojo.admins %}
        <li>{{ admin.user.name }}</li>
        {% endfor %}
    </ul>
    <hr>
    {% endfor %}
</div>
<div id="panicModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="panicModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="panicModalTitle">Docker Panic</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>This will attempt to kill and remove all currently running workspace containers.</p>
        <p>Use this if the server becomes overloaded during an event.</p>
        <p>If this is unsuccessful, you can manually panic using the following command within the outer dojo container:</p>
        <pre>docker rm -f $(docker ps -aqf "name=user_*")</pre>
        <p>Are you sure you want to panic?</p>
      </div>
      <div class="modal-footer">
        <div id="panicResult" class="mr-auto">Ready to panic</div>
        <button id="panicConfirm" type="submit" class="btn btn-danger">Confirm Panic</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script defer src="{{ url_for('views.themes', path='js/dojo/dockerpanic.js') }}"></script>
{% endblock %}
