{% extends "base.html" %}

{% block content %}
<div class="container mt-2">
    <div class="d-flex justify-content-between"> 
        <h2 class="brand-mono-bold" id="scoreboard-heading">{{ dojo.name or dojo.id }}</h2>
        <p class="align-self-end">Last updated: <span id="scoreboard-updated">never</span></p>
    </div>
    {% from "macros/scoreboard.html" import event_scoreboard %}
    {{ event_scoreboard() }}
</div>
{% endblock %}

{% block scripts %}
<script defer onload="loadEventScoreboard(1); setInterval(loadEventScoreboard, 30 * 1000, 1); $('a.close-link').trigger('click');" src="{{ url_for('views.themes', path='js/dojo/scoreboard.js') }}"></script>
{% endblock %}
