{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1 class="brand-white brand-mono-bold">{{ dojo.name or dojo.id }}<span class="brand-dot">.</span></h1>
    </div>
</div>
<div class="container">
    <h2></h2>
    <h2 class="row" id="scoreboard-heading">30-Day Scoreboard:</h2>
    {% from "macros/scoreboard.html" import scoreboard %}
    {{ scoreboard() }}
</div>
{% endblock %}

{% block scripts %}
<script defer onload="loadScoreboard(30, 1); setInterval(loadScoreboard, 30 * 1000, 30, 1);" src="{{ url_for('views.themes', path='js/dojo/scoreboard.js') }}"></script>
{% endblock %}
